@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="jumbotron">
	<h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to the Sacrament Meeting Planner</h2>
		<p>
			This is a great way to plan the Sacrament meeting for any ward!
		</p>
	</div>
	<div class="col-md-4">
		<h2>Where to start</h2>
		<p>Click here to start:</p>
		<p>
			<a class="btn btn-default"
			   href="/Planners/Create">
				Make a meeting plan
			</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>View All</h2>
		<p>Click here to view all the meeting plans:</p>
		<p>
			<a class="btn btn-default"
			   href="/Planners">
				View Plans
			</a>
		</p>
	</div>
</div>